/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #2C3531;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details .logo_name p{
    font-family: "Fugaz One", sans-serif;
    color: #FFF;
}
.sidebar .logo-details .logo_name span{
    font-family: "Fugaz One", sans-serif;
          color:#f5ca88;

}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #D9B08C;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #2C3531;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

a{
  text-decoration: none;
}
.sidebar li .side_a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #2C3531;
}
.sidebar li .side_a:hover{
  background: #D9B08C;
}
.sidebar li .side_a .links_name{
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li .side_a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li .side_a:hover .links_name,
.sidebar li .side_a:hover i{
  transition: all 0.5s ease;
  color: #2C3531;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #D9B08C;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.sidebar li.profile .name{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #D9B08C;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background-color: #9fccc073;
 
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
#home{
  padding: 30px;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #2C3531;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
#map {  
  
  height: 100vh;
  
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    padding-left: 50px;
    z-index: 9999; /* Ensure the popup appears above other content */
}

.popup * {
    margin: 0;
    padding: 0;
}

.close-popup:hover {
    background-color: #ff3333;
}

.popup-content {
  text-align: center;
  
}

.close-popup {
  margin-top: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/*vehicle style*/

.vcontainer{
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #fffdfd;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container_modification{
  padding: 0 40px;
  position: relative;
  overflow: hidden;
  width: 410px;
  background-color: #fff;
  max-width: 100%;
  min-height: fit-content;

}

#vehicles img{
  width: 100px;
  border-radius: 10px;
}
/*button for adding cars */
#add-vehicle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(116, 114, 114);
  box-shadow: 0 0 7px black;
}
#add-vehicle-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background-color: white;
  width: 600px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-content input{
  border-radius: 10px;
  margin-bottom: 20px;
}
.modal-content h2{
  text-align: center;
}
.modal-content p{
  text-align: center;
}
.modal-content #model{
  margin-top: 20px;
  margin-left: 92px;
}
.modal-content #id{
  margin-left: 127px;
}
#add-btn{
  border-radius: 10px;
  width: 60px;
  height: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px black;
  margin: 30px;
  margin-left: 150px;
}
#quit-btn{
  border-radius: 10px;
  width: 60px;
  height: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px black;
  margin: 30px;
  margin-left: 100px;
}

.vcontainer .vehicule{
  margin:25px;
  background-color: #d9b08c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  border-radius: 20px;
}
.vcontainer .vehicule{
  display: flex;
  justify-content: space-between;
  padding: 20px;

}
.vcontainer .vehicule p{
  font-weight: 800;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;}
.vcontainer .vehicule span{
  display: block;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  text-transform: none;
  font-weight: 600;
  color: grey;
}
.vcontainer .vehicule button{
  width: 90px;
  height: 45px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
  cursor: pointer; 
}
.modify{
  background-color: #7A7D8B;
}
.delete{
  background-color: #116466;
  color: white;
}
/* profile style*/

.pfpcontainer{
  font-family: 'Montserrat', sans-serif;
 display: flex;
  background-color: #fff;
  
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  
}
.pfpcontainer_modification{
  padding: 0 70px;
  position: relative;
  overflow: hidden;
  width: 45%;
  max-width: 100%;
  min-height: 450px;

}
.container_profile{
  
  margin-bottom: 2.5%;
  background-color: #2C3531;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 43%;
  max-width: 100%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  min-height: 450px;
}
.image{ 
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 15%;
  margin-left: 24%;
  margin-right: 24%;
 



}

.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;

  
}
.changepfpbox{
  margin-top: 13%;
  margin-left: 28%;
  margin-right: 28%;
  position: relative;
  overflow: hidden;
  width: 220px;
  max-width: 100%;
  
  min-height: 50px;

}
.pfpbtn{
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #9FCCC0;
  color: #fff;
  font-size: 12px;
  padding: 10px 15%;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  
  cursor: pointer;

}




.options {
  position: relative;
  margin-top: 40%;
  list-style: none;
  text-align: center; /* Center the list items */
}
.options li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.options li span:hover{
  color: #9FCCC0;
}

.options li {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Add space between each list item */
}

.options li:not(:last-child) {
  border-bottom: 1px solid #ccc; /* Add a line between each list item except the last one */
  padding-bottom: 15px; /* Adjust spacing */
}
.bx-x{
  align-items: right;
  color: #2C3531;
  font-size: 50px;

}

.bx-x:hover{
  color: #9FCCC0;

}
.options i {
  color: #2C3531;
  font-size: 30px;
  margin-right: 10px; /* Add space between icon and text */
}

.options span {
  color: #2C3531;
  font-size: 25px;
}




.change{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.change input{
  background-color: #2c3531c7;
  border: none;
  margin: 10px 0;
  padding: 20px 15px;
  font-size: 13px;
  border-radius: 10px;
  width: 100%;
  outline: none;
  height: 50px;
}
input::placeholder{
  color: #fff;
}
.change span{
  margin-right:52%;
  font-weight: 700;
  font-size: 13px;
}
.change a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 13px;
  margin-top: 4px;

}
.change a:hover{
  color: #9FCCC0;
}
.change button{
  background-color: #9FCCC0;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.name a{
  color: #fff;
  text-decoration: none;
}


/*home css*/
.top-part{
  display: flex;
}
#home .vehicule{
  margin:25px;
  background-color: #d9b08c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  height: 90px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
#home .vehicule{
  display: flex;
  justify-content: space-between;
  padding: 15px;

}
#home .vehicule p{
  font-weight: 800;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
#home .vehicule span{
  display: block;
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  text-transform: none;
  font-weight: 600;
  color: grey;
}
#home .vehicule button{
  width: 90px;
  height: 45px;
  border-radius: 10px;
  border: none;
  margin-top: 8px;
  
}

.edit{
  background-color: #2C3531;
  color: white;
}
#home img{
  width: 14%;
  border-radius: 10px;
}
.selected{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  margin:25px;
  background-color: #2C3531;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
  height: 90px;
  border-radius: 20px;
  padding: 15px;
}
.selected .bx-check-circle{
  font-size: 60px;
  color: #d9b08c;
}
.selected span{
  font-weight: 600;
  margin: 12px;
  color: #d9b08c;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
#maphome { height: 100%;
width: 100%;
border-radius: 30px; 
cursor: pointer;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.botom-part{
 
  margin:25px;
  width: 90%;
  height: 400px;
}
