*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


.container{
    font-family: 'Montserrat', sans-serif;
   display: flex;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
}

.container_modification{
    padding: 0 40px;
    position: relative;
    overflow: hidden;
    width: 410px;
    max-width: 100%;
    min-height: 500px;

}
.bx-x{
    align-items: right;
    color: #2C3531;
    font-size: 50px;
    margin-left: 1130px;
    margin-top: 10px;

}

.bx-x:hover{
    color: #9FCCC0;

}
img{
    width: 80px;
    border-radius: 10px;
}
.container{
    font-family: 'Montserrat', sans-serif;
   display: flex;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 60%;
    max-width: 100%;
    min-height: 670px;
}
.container .vehicule{
    margin:30px;
    background-color: #d9b08c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    height: 50px;
    border-radius: 20px;
}
.container .vehicule{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.container .vehicule p{
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;}

.container .vehicule span{
    display: block;
    margin-top: 10px;
    text-align: center;
    text-transform: none;
    font-weight: 600;
    color: grey;
}
.container .vehicule button{
    width: 90px;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
}

.edit{
    background-color: #116466;
    color: white;
}
